@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Hanna', serif;
}

#header {
}

.navbar {
	width: 100%;
	background-color: #555;
	vertical-align: middle;
	overflow: auto;
}

.navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	vertical-align: middle;
}

.navbar a:hover {
	background-color: #000;
}

.active {
	background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
	}
}