@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Hanna', serif;
}

#header {
	
}

.navbar {
	width: 100%;
	background-color: #555;
	vertical-align: middle;
	overflow: auto;
}

.navbar a {
	float: left;
	text-align: center;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
	vertical-align: middle;
}

.navbar a:hover {
	background-color: #000;
}

.activeMenu {
	background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
	}
}

.rBtn {
	display: inline-block;
	position: relative;
	overflow: hidden;
	margin-left: -1px;
	float: left;
	min-width: 33px;
	height: 33px;
	border: 1px solid #ccc;
	background-color: #fff;
	vertical-align: middle;
}

.rBtn i {
	z-index: -1;
}

.rBtn:hover {
	border-color: #666;
}

.rInput {
	vertical-align: middle;
	margin-left: -1px;
	float: left;
	height: 33px;
	width: 41px;
	border: 1px solid #ccc;
	text-align: center;
	font-weight: bold;
}

#qq-template-gallery {
	color: white;
	background-color: #00ABC7;
	font-size: 14px;
	padding: 7px 20px;
	background-image: none;
}

#qq-template-gallery .qq-upload-button {
	margin-right: 15px;
}

#qq-template-gallery .buttons {
	width: 36%;
}

#qq-template-gallery .qq-uploader .qq-total-progress-bar-container {
	width: 60%;
}

.contentStyle {
	padding-top: 20px;
	padding-bottom: 20px;
}

.listImage {
	height: 200px;
	width: 100%;
}

.listTitle {
	height: 50px;
}

.listTitle p {
	word-break: break-all;
}

.mainContent {
	padding: 20px;
}

.mainContent .top-left {
	position: absolute;
	top: 25px;
	left: 30px;
	background-color: white;
	opacity: 0.6;
	padding: 1px 5px 1px 5px;
	border-bottom: 1px solid black;
}

.bg-img {
	/* The image used */
	background-image: url(../images/ui.jpg);
	/* Control the height of the image */
	min-height: 380px;
	/* Center and scale the image nicely */
	background-position: top;
	background-repeat: repeat;
	background-size: inherit;
	position: relative;
}

.bg-img .container {
	position: absolute;
	right: 0;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
}

.bg-img input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

.bg-img input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

.bg-img .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.bg-img .btn:hover {
	opacity: 1;
}