<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.AlarmMapper">
	<select id="list" resultType="alarm">
		select * from alarm
	</select>

	<select id="select" parameterType="string" resultType="alarm">
		select * from alarm where id = #{id}
	</select>

	<insert id="insert" parameterType="alarm">
		insert into alarm values()
	</insert>
	<update id="update" parameterType="alarm">
		update alarm set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from alarm where id=#{id}
	</delete>
</mapper>