<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.CategoryMapper">
	<select id="list" resultType="category">
		select * from category
	</select>

	<select id="select" parameterType="string" resultType="category">
		select * from category where id = #{id} 
	</select>

	<insert id="insert" parameterType="category">
		insert into category values()
	</insert>
	<update id="update" parameterType="category">
		update category set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from category where id=#{id}
	</delete>
</mapper>