<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.CDetailMapper">
	<select id="list" resultType="cDetail">
		select * from cDetail
	</select>

	<select id="select" parameterType="int" resultType="cDetail">
		select * from cDetail where cdNum = #{cdNum}
	</select>
	
	<select id="listBycNum" resultType="hashmap" parameterType="int">
		select id, sum(amount) sumPrice from cDetail
		where cNum = #{cNum} group by id
	</select>


	<insert id="insert" parameterType="cDetail">
		insert into cDetail values(#{cdNum}, #{id}, #{cNum}, #{amount}, #{content}, (sysdate + (1/24)*9))
	</insert>
	
	
	
	<update id="update" parameterType="cDetail">
		update cDetail set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from cDetail where id=#{id}
	</delete>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(cdNum), 0) from cDetail
	</select>
	
	<select id="countCdetailbycNum" resultType="int" parameterType="int">
		select NVL(count(NVL(count(id), 0)), 0) from cdetail where cNum = #{cNum} group by id 
	</select>
</mapper>