<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.CharityMapper">
	<sql id="ing">
		<![CDATA[where sdate < (sysdate + (1/24)*9) and edate > (sysdate + (1/24)*9)]]>
	</sql>
	<sql id="prepare">
		<![CDATA[where sdate > (sysdate + (1/24)*9) and edate > (sysdate + (1/24)*9)]]>
	</sql>
	<sql id="end">
		<![CDATA[where sdate < (sysdate + (1/24)*9) and edate < (sysdate + (1/24)*9)]]>
	</sql>
	<sql id="isConfirm">
		and confirm = 'y'
	</sql>
	<sql id="category">
		<if test="category != null and category != '' and category != '전체보기'">
			and category = #{category}
		</if>
	</sql>
	<sql id="search">
		<if test="field!=null and field!=''">
			or ${field} like '%' || #{keyword} || '%'
		</if>
	</sql>
	
	<sql id="searchcharity">
		<if test="keyword!='null' and keyword!=''">
			and ${field} like #{keyword} || '%'
		</if>
	</sql>
	
	<sql id="sort">
		<choose>
			<when test="sort == 'popular'">
				order by hit desc, cNum desc
			</when>
			<when test="sort == 'cAmount'">
				order by cAmount desc, cNum desc
			</when>
			<otherwise>
				order by cNum desc
			</otherwise>
		</choose>
	</sql>
	
	<select id="list" resultType="charity">
		select * from charity order by cNum desc
	</select>
	
	<select id="select" parameterType="int" resultType="charity">
		select * from charity where cNum = #{num}
	</select>
	<insert id="insert" parameterType="charity">
		insert into charity values(#{cNum},#{id},#{title},#{content},#{amount},
		0,#{sDate},#{eDate},#{category},
		#{confirm},#{aId},#{addr},(sysdate + (1/24)*9),0,#{cPrice})
	</insert>
	
	<update id="update" parameterType="charity">
		update charity
		<set>
			<if test="title != null">title = #{title},</if>
			<if test="content != null">content = #{content},</if>
			<if test="amount != null and amount > 0">amount = #{amount},</if>
			<if test="cAmount != null and cAmount > 0">cAmount = #{cAmount},</if>
			<if test="sDate != null">sDate = #{sDate},</if>
			<if test="eDate != null">eDate = #{eDate},</if>
			<if test="category != null">category = #{category},</if>
			<if test="confirm != null">confirm = #{confirm},</if>
			<if test="aId != null">aId = #{aId},</if>
			<if test="addr != null">addr = #{addr},</if>
			<if test="id != null">id = #{id},</if>
		</set>
		where cNum = #{cNum}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from charity where cNum=#{num}
	</delete>
	
	<select id="getMaxNum" resultType="int">
		select nvl(max(cNum), 0) from charity
	</select>
	<update id="hitUp" parameterType="int">
		update charity set hit = hit + 1 where cNum = #{cNum}
	</update>
	
	<select id="searchwaitList" parameterType="hashmap" resultType="charity">
		select * from charity 
		where confirm = 'n'
		order by regdate desc
		<include refid="searchcharity"/>
	</select>
	
	<select id="waitList" resultType="charity">
		select * from charity where confirm = 'n'
		order by regdate desc
	</select>
	
	<update id="wait" parameterType="int">
		update charity set confirm ='n',aid = null where cNum = #{cNum}
	</update>
	
	<update id="confirm" parameterType="hashmap">
		update charity set confirm = 'y',aid = #{aid} where cNum = #{cNum}
	</update>
	
	<select id="confirmList" resultType="charity">
		select * from charity 
		where confirm = 'y'
		order by regdate desc
	</select>
	
	<select id="searchconfirmList" parameterType="hashmap" resultType="charity">
		select * from charity 
		where confirm = 'y'
		<include refid="searchcharity"/>
		order by regdate desc
	</select>
	
	<select id="getTotCount" parameterType="hashmap" resultType="int">
		select NVL(count(cNum), 0) from charity
		<include refid="ing"/>
		<include refid="isConfirm"/>
		<include refid="category" />
		<include refid="search" />
		<include refid="sort" />
	</select>
	
	<select id="getTotCountPrepare" parameterType="hashmap" resultType="int">
		select NVL(count(cNum), 0) from charity
		<include refid="prepare"/>
		<include refid="isConfirm"/>
		<include refid="category" />
		<include refid="search" />
		<include refid="sort" />
	</select>
	
	<select id="getTotCountEnd" parameterType="hashmap" resultType="int">
		select NVL(count(cNum), 0) from charity
		<include refid="end"/>
		<include refid="isConfirm"/>
		<include refid="category" />
		<include refid="search" />
		<include refid="sort" />
	</select>
	
	
	
	<!-- 준비중 후원 -->
	<select id="prepare" parameterType= "hashmap" resultType="hashmap">
		select CNUM cnum, TITLE title, CONTENT content, AMOUNT amount, CAMOUNT camount,
		to_char(SDATE, 'yy-mm-dd') sdate, to_char(EDATE, 'yy-mm-dd') edate,
		ceil(edate - (sysdate + (1/24)*9)) dday, CATEGORY category, CONFIRM confirm,
		AID aid, ADDR addr, REGDATE regdate, ID id, HIT hit, CPRICE cprice
		from charity
		<include refid="prepare"/>
		<include refid="category"/>
		<include refid="search"/>
		<include refid="isConfirm"/>
		order by cNum desc
	</select>
	
	<!-- 종료된 후원 -->
	<select id="end" parameterType= "hashmap"  resultType="hashmap">
		select CNUM cnum, TITLE title, CONTENT content, AMOUNT amount, CAMOUNT camount,
		to_char(SDATE, 'yy-mm-dd') sdate, to_char(EDATE, 'yy-mm-dd') edate,
		ceil(edate - (sysdate + (1/24)*9)) dday, CATEGORY category, CONFIRM confirm,
		AID aid, ADDR addr, REGDATE regdate, ID id, HIT hit, CPRICE cprice
		from charity
		<include refid="end"/>
		<include refid="category"/>
		<include refid="search"/>
		<include refid="isConfirm"/>
		order by cNum desc
	</select>
	<!-- 진행중 후원 -->
	<select id="ing" parameterType="hashmap" resultType="hashmap">
		<choose>
			<when test="sort == 'end'">
				select * from (
    				select * from charity
    				<include refid="ing"/>
					)aa,(
					select (edate-(sysdate + (1/24)*9))cal, cNum from charity
					<include refid="ing"/>
					)bb
				where aa.cNum = bb.cNum
				<include refid="category" />
				<include refid="search" />
				<include refid="isConfirm"/>
				order by cal asc
			</when>
			<when test="sort == 'recommend'">
				select bb.* from (
					select * from (
    					select aa.* from (
     						select count(c.cNum) cnt, c.cNum cn from (
       							select * from charity
       							<include refid="ing"/>
      						) c, crecommend cr where c.cNum = cr.cNum group by c.cNum
    					)aa
    				order by cnt desc, cn desc)
			)aa, (select * from charity )bb
			where aa.cn = bb.cNum(+) order by cnt
			</when>
			<otherwise>
				select * from (
					select aa.CNUM cnum, aa.TITLE title, aa.CONTENT content,
					aa.AMOUNT amount, aa.CAMOUNT camount, to_char(aa.SDATE, 'yy-mm-dd') sdate,
					to_char(aa.EDATE, 'yy-mm-dd') edate, ceil(edate - (sysdate + (1/24)*9)) dday,
					aa.CATEGORY category, aa.CONFIRM confirm,
					aa.AID aid, aa.ADDR addr, aa.REGDATE regdate, aa.ID id, aa.HIT hit, aa.CPRICE cprice, rownum rnum from (
						select * from charity
						<include refid="ing"/>
						<include refid="isConfirm"/>
						<include refid="category" />
						<include refid="search" />
						<include refid="sort" />
					)aa
				) <![CDATA[where rnum >=#{startRow} and rnum <=#{endRow}]]>
			</otherwise>
		</choose>
	</select>
	
	<!-- 메인 요약 -->
		<!-- 종료임바크 -->
		<select id="mainEnd" resultType="charity">
			select * from (
				select aa.*, rownum rnum from(
					select * from charity
					<![CDATA[where sdate < sysdate and edate > sysdate]]>
					and (edate-(sysdate + (1/24)*9)) = (select min(edate-(sysdate + (1/24)*9)) from charity
					<include refid="ing"/>
					<include refid="isConfirm"/>) order by cNum desc
										)aa
			) where rnum = 1
		</select>
		
		<!-- 새로 시작하는 -->
		<select id="mainNew" resultType="charity">
			select * from (
				select aa.*, rownum rnum from (
					select * from charity
					<include refid="prepare"/>
					and ((sysdate + (1/24)*9) - sdate) = (select max((sysdate + (1/24)*9) - sdate) cNum from charity
								<include refid="prepare"/>
								<include refid="isConfirm"/>
								) order by cNum desc
											)aa
			) where rnum =1
		</select>
		
		<!-- 핫 -->
		<select id="mainHot" resultType="charity">
			select * from (
				select aa.*, rownum rnum from (
					select * from charity
					<include refid="ing"/>
        			order by cNum desc
   				 )aa
			where hit = (select max(hit) from charity
			<include refid="ing"/>)
			) where rnum = 1
			<include refid="isConfirm"/>
		</select>
		
		<!-- 액수 -->
		<select id="mainPrice" resultType="charity">
			select * from (
				select aa.*, rownum rnum from (
					select * from charity
					<include refid="ing"/>
        			order by cNum desc
   				 )aa
			where cAmount = (select max(cAmount) from charity
			<include refid="ing"/>)
			) where rnum = 1
			<include refid="isConfirm"/>
		</select>
	<!-- 전체 후원 금액, 갯수-->
	<select id="totCharity" resultType="hashmap">
		select NVL(count(cNum), 0) cnt, NVL(sum(CAMOUNT), 0) s from charity where confirm = 'y'
	</select>
	<!-- 오늘 후원 금액, 갯수 -->
	<select id="todayCharityPrice" resultType="int">
		select NVL(sum(amount), 0) sumPrice from cDetail
		where to_date(regdate, 'yyyy-MM-dd') = to_date(sysdate + (1/24) * 9, 'yyyy-mm-dd')
	</select>
	<select id="todayCharityCount" resultType="int">
		select NVL(count(cNum), 0) cnt from charity where confirm = 'y'
		and regdate = (sysdate + (1/24)*9)
	</select>
	<!-- 연관검색어 추출 -->
	<select id="related" parameterType="hashmap" resultType="string">
		select title from(
		select aa.*, rownum rnum from(
			select title from charity
			where title like '%' || #{keyword} || '%' order by title
			)aa
		)
		<![CDATA[where rnum<6]]>	
	</select>
</mapper>