<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.CPictureMapper">

	<insert id="insert" parameterType="cPicture">
		insert into cPicture values(
			#{cpNum},#{cNum},#{savename},#{orgname},#{filesize},sysdate,#{cpinfo})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(cpNum), 0) from cPicture
	</select>
	
	<select id="list" parameterType="int" resultType="cPicture">
		select * from cPicture where cnum=#{num} 
	</select>
	
	<select id="thumbnail" resultType="cPicture" parameterType="int">
		select * from (
			select aa.*, rownum rnum from (
				select * from cPicture where cNum = #{cNum} order by cpNum
			)aa
		) where rnum = 1
	</select>
</mapper>
