<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.cRecommendMapper">
	<insert id="insert" parameterType="cRecommend">
		insert into cRecommend values(#{crNum},#{cNum},#{id})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(crNum), 0) from cRecommend
	</select>
	
	<select id="isRecomm" parameterType="cRecommend" resultType="cRecommend">
		select * from cRecommend where cNum = #{cNum} and id = #{id}
	</select>
	
	<delete id="delete" parameterType="cRecommend">
		delete from cRecommend where cNum=#{cNum} and id=#{id}
	</delete>
	
	<select id="getRecommend" parameterType="int" resultType="int">
		select NVL(count(crNum), 0) from cRecommend where cNum = #{cNum}
	</select>
</mapper>