<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.EHashtagMapper">
	<select id="list" resultType="eHashtag">
		select * from eHashtag
	</select>

	<select id="select" parameterType="string" resultType="eHashtag">
		select * from eHashtag where id = #{id}
	</select>

	<insert id="insert" parameterType="eHashtag">
		insert into eHashtag values()
	</insert>
	<update id="update" parameterType="eHashtag">
		update eHashtag set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from eHashtag where id=#{id}
	</delete>
</mapper>