<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.EventMapper">
	<select id="list" resultType="event">
		select * from event
	</select>

	<select id="select" parameterType="string" resultType="event">
		select * from event where id = #{id}
	</select>

	<insert id="insert" parameterType="event">
		insert into event values()
	</insert>
	<update id="update" parameterType="event">
		update event set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from event where id=#{id}
	</delete>
</mapper>