<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.FCommentMapper">

	<insert id="insert" parameterType="fComment">
		insert into fComment values(#{fcNum}, #{id}, #{fNum}, #{content}, (sysdate + (1/24)*9))
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(fcNum), 0) from fComment
	</select>
	
	<select id="commentList" parameterType="int" resultType="hashmap">
		select fcNum, id, fNum, content, to_char(regdate, 'yyyy-mm-dd hh24:mi:ss') regdate from fComment
		where fNum = #{fNum} order by fcNum
	</select>
	
	<select id="getCommentCount" parameterType="int" resultType="int">
		select NVL(count(fcnum),0) from fcomment where fNum = #{fNum}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from fcomment where fcNum = #{fcNum}
	</delete>

</mapper>

