<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.FCommentMapper">

	<insert id="insert" parameterType="fComment">
		insert into fComment values(#{fcNum}, #{id}, #{fNum}, #{content},
		to_date(to_char(sysdate, 'yyyy-MM-dd hh24:mi:ss'), 'yyyy-MM-dd hh24:mi:ss'))
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(fcNum), 0) from fComment
	</select>
	
	<select id="commentList" parameterType="int" resultType="fComment">
		select fcNum, id, fNum, content, to_char(regdate, 'yyyy-mm-dd hh24:mi:ss') regdate from fComment
		where fNum = #{fNum} order by fcNum
	</select>

</mapper>

