<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.FDetailMapper">

	<insert id="insert" parameterType="fDetail">
		insert into fDetail
		values(#{fdNum}, #{id}, #{fNum}, #{rNum}, (sysdate + (1/24)*9), '예약', #{amount})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(fdNum), 0) from fDetail
	</select>
	
	<select id="listByfNum" resultType="hashmap" parameterType="int">
		select id, sum(fd.amount * price) sumPrice from fDetail fd, reward r
		where fd.rNum = r.rNum and r.fNum = #{fNum} group by id
	</select>

</mapper>