<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.FRecommendMapper">

	<insert id="insert" parameterType="fRecommend">
		insert into fRecommend values(#{frNum},#{fNum},#{id})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(frNum), 0) from fRecommend
	</select>
	
	<select id="isRecomm" parameterType="fRecommend" resultType="fRecommend">
		select * from fRecommend where fNum = #{fNum} and id = #{id}
	</select>
	
	<delete id="delete" parameterType="fRecommend">
		delete from fRecommend where fNum = #{fNum} and id = #{id}
	</delete>
	
</mapper>