<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.FResultMapper">

	<select id="select" parameterType="string" resultType="fResult">
		select * from fResult where id = #{id}
	</select>

	<insert id="insert" parameterType="fResult">
		insert into fResult values(#{frNum}, #{fdNum}, '결제준비')
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(frNum), 0) from fResult
	</select>
	
	<update id="update" parameterType="fResult">
		update fResult set #{pwd} where #{id}
	</update>
</mapper>