<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.MessengerMapper">

	<insert id="insert" parameterType="messenger">
		insert into messenger values(#{mNum}, #{id}, #{aId}, #{content}, 0, (sysdate + (1/24)*9))
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(mNum), 0) from messenger
	</select>
</mapper>