<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.cherryfunding.spring.vo.VisitorVo" alias="Visitor"/>
		<typeAlias type="com.cherryfunding.spring.vo.UsersVo" alias="users"/>
		<typeAlias type="com.cherryfunding.spring.vo.AdminVo" alias="AdminVo"/>
		<typeAlias type="com.cherryfunding.spring.vo.CharityVo" alias="charity"/>
		<typeAlias type="com.cherryfunding.spring.vo.FundingVo" alias="funding"/>
		<typeAlias type="com.cherryfunding.spring.vo.CDetailVo" alias="cDetail"/>
		<typeAlias type="com.cherryfunding.spring.vo.EpilogueVo" alias="epilogue"/>
		<typeAlias type="com.cherryfunding.spring.vo.VolunteerVo" alias="volunteer"/>
		<typeAlias type="com.cherryfunding.spring.vo.ShareVo" alias="share"/>
		<typeAlias type="com.cherryfunding.spring.vo.RewardVo" alias="reward"/>
		<typeAlias type="com.cherryfunding.spring.vo.CategoryVo" alias="category"/>
		<typeAlias type="com.cherryfunding.spring.vo.PaymentVo" alias="payment"/>
		<typeAlias type="com.cherryfunding.spring.vo.FDetailVo" alias="fDetail"/>
		<typeAlias type="com.cherryfunding.spring.vo.UsersSettingVo" alias="userSetting"/>
		<typeAlias type="com.cherryfunding.spring.vo.SItemVo" alias="sItem"/>
		<typeAlias type="com.cherryfunding.spring.vo.CCommentVo" alias="cComment"/>
		<typeAlias type="com.cherryfunding.spring.vo.ECommentVo" alias="eComment"/>
		<typeAlias type="com.cherryfunding.spring.vo.MessengerVo" alias="messenger"/>
		<typeAlias type="com.cherryfunding.spring.vo.CPictureVo" alias="cPicture"/>
		<typeAlias type="com.cherryfunding.spring.vo.FPictureVo" alias="fPicture"/>
		<typeAlias type="com.cherryfunding.spring.vo.VPictureVo" alias="vPicture"/>
		<typeAlias type="com.cherryfunding.spring.vo.SPictureVo" alias="sPicture"/>
		<typeAlias type="com.cherryfunding.spring.vo.FCommentVo" alias="fComment"/>
		<typeAlias type="com.cherryfunding.spring.vo.VCommentVo" alias="vComment"/>
		<typeAlias type="com.cherryfunding.spring.vo.SCommentVo" alias="sComment"/>
		<typeAlias type="com.cherryfunding.spring.vo.SListVo" alias="sList"/>
		<typeAlias type="com.cherryfunding.spring.vo.VListVo" alias="vList"/>
		<typeAlias type="com.cherryfunding.spring.vo.InterestVo" alias="interest"/>
		<typeAlias type="com.cherryfunding.spring.vo.CRecommendVo" alias="cRecommend"/>
		<typeAlias type="com.cherryfunding.spring.vo.FRecommendVo" alias="fRecommend"/>
		<typeAlias type="com.cherryfunding.spring.vo.SRecommendVo" alias="sRecommend"/>
		<typeAlias type="com.cherryfunding.spring.vo.VRecommendVo" alias="vRecommend"/>
		<typeAlias type="com.cherryfunding.spring.vo.AlarmVo" alias="alarm"/>
		<typeAlias type="com.cherryfunding.spring.vo.VLanguageVo" alias="vLanguage"/>
		<typeAlias type="com.cherryfunding.spring.vo.CHashtagVo" alias="cHashtag"/>
		<typeAlias type="com.cherryfunding.spring.vo.FHashtagVo" alias="fHashtag"/>
		<typeAlias type="com.cherryfunding.spring.vo.EPictureVo" alias="ePicture"/>
		<typeAlias type="com.cherryfunding.spring.vo.ERecommendVo" alias="eRecommend"/>
		<typeAlias type="com.cherryfunding.spring.vo.EHashtagVo" alias="eHashtag"/>
		<typeAlias type="com.cherryfunding.spring.vo.CreditMethodVo" alias="creditMethod"/>
		<typeAlias type="com.cherryfunding.spring.vo.FResultVo" alias="fResult"/>
		<typeAlias type="com.cherryfunding.spring.vo.EventVo" alias="event"/>
		<typeAlias type="com.cherryfunding.spring.vo.MypageVo" alias="Mypage"/>
		
		
		
	</typeAliases>
	<mappers>
		<mapper resource="com/cherryfunding/spring/mybatis/VisitorMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/UsersMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/AdminMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CharityMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FundingMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CDetailMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/SItemMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/VolunteerMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/ShareMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/RewardMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CategoryMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/PaymentMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FDetailMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/UserSettingMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CCommentMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/ECommentMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/MessagerMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CPictureMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FPictureMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/VPictureMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/SPictureMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FCommentMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/VCommentMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/SCommentMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/SListMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/VListMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/InterestMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CRecommendMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FRecommendMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/SRecommendMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/VRecommendMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/AlarmMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/VLanguageMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CHashtagMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FHashtagMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/EPictureMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/ERecommendMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/EHashtagMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/CreditMethodMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/FResultMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/EventMapper.xml"/>
		<mapper resource="com/cherryfunding/spring/mybatis/MypageMapper.xml"/>
	</mappers>
</configuration>