<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.RewardMapper">
	
	<insert id="insert" parameterType="reward">
		insert into reward values(
			#{rNum}, #{fNum}, #{title}, #{price}, sysdate, #{amount})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(rNum), 0) from reward
	</select>
	
	<select id="rewardList" parameterType="int" resultType="reward">
		select * from reward where fNum = #{fNum}
	</select>
	
	<select id="detail" parameterType="int" resultType="reward">
		select * from reward where rNum = #{rNum}
	</select>
	
	<select id="getPrice" parameterType="int" resultType="int">
		select price from reward where rNum = #{rNum}
	</select>
	
</mapper>