<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.SCommentMapper">
	<insert id="insert" parameterType="sComment">
		insert into sComment values(#{scNum}, #{id}, #{content}, sysdate, #{sNum})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(scNum), 0) from sComment
	</select>

	<select id="commentList" parameterType="int" resultType="sComment">
		select * from sComment where sNum = #{num} order by scNum
	</select>

</mapper>