<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.SListMapper">

	<insert id="insert" parameterType="sList">
		insert into sList values(#{slNum}, #{sNum}, #{id}, 'n', null, #{siNum}, #{amount})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(slNum), 0) from sList
	</select>
	
	<select id="listBysNum" parameterType="int" resultType="hashmap">
		select slNum, id, si.siNum, sl.sNum, si.title, sl.amount from sitem si, slist sl
		where si.sNum = sl.sNum and si.sNum = #{sNum}
	</select>
	

</mapper>