<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.SPictureMapper">
	<select id="list" resultType="sPicture">
		select * from sPicture
	</select>

	<select id="select" parameterType="string" resultType="sPicture">
		select * from sPicture where id = #{id}
	</select>

	<insert id="insert" parameterType="sPicture">
		insert into sPicture values()
	</insert>
	<update id="update" parameterType="sPicture">
		update sPicture set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from sPicture where id=#{id}
	</delete>
</mapper>