<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.UserSettingMapper">
	<insert id="insert" parameterType="string">
		insert into userSetting values(#{id}, 'kor', 'n', 'n')
	</insert>

	<update id="update" parameterType="userSetting">
		update userSetting
			<set>
				<if test="lang != null">lang = #{lang},</if>
				<if test="voice != null">voice = #{voice},</if>
				<if test="alarm != null">alarm = #{alarm},</if>
				<if test="profile != null">profile = #{profile},</if>
			</set>
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="string">
		delete from userSetting where id=#{id}
	</delete>
	
	<select id="getInfo" parameterType="string" resultType="userSetting">
		select * from userSetting where id=#{id}
	</select>
	
</mapper>