<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.UserInfoMapper">
	<select id="findUserInfo" parameterType="string" resultType="userSetting">
		select * from users where id=#{id}
	</select>
	
	
	
</mapper>