<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.mybatis.UsersMapper">
	<select id="list" resultType="users">
		select * from users
	</select>

	<select id="detail" parameterType="string" resultType="users">
		select * from users where id = #{id}
	</select>

	<insert id="insert" parameterType="users">
		insert into users values(
		#{id}, #{pwd}, #{nick}, #{email},
		 #{addr}, #{gender}, #{phone},
		#{birth}, (sysdate + (1/24)*9), 0)
	</insert>
	
	<delete id="sdelete" parameterType="string">
		delete from users where id=#{id}
	</delete>
	<select id="nickCheck" parameterType="string" resultType="users">
		select * from users where nick = #{nick}
	</select>
	
	<update id="withdraw" parameterType="hashmap">
		update users set balance = balance - #{price} where id = #{id}
	</update>
	
	<update id="deposit" parameterType="hashmap">
		update users set balance = balance + #{deposit} where id = #{id}
	</update>
	
	<update id="update" parameterType="users">
		update users set pwd=#{pwd}, email=#{email}, nick=#{nick}, addr=#{addr}, phone=#{phone} where id=#{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from users where id=#{id}
	</delete>
	<select id="login" parameterType="users" resultType="users">
		select * from users where id=#{id} and pwd=#{pwd}
	</select>
	<select id="getEmail" parameterType="string" resultType="string">
		select email from users where id=#{id}
	</select>
	
	<select id="idsearch" parameterType="String" resultType="users">
		select * from users where id like #{idsearch} || '%'
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 20181026 심광보가 추가 -->
	<select id="userlogin" parameterType="hashmap" resultType="users">
		select * from users where id=#{id} and pwd=#{pwd}
	</select>
</mapper>