<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.VCommentMapper">
	<select id="list" resultType="vComment">
		select * from vComment
	</select>

	<insert id="insert" parameterType="vComment">
		insert into vComment values(#{vcNum}, #{vNum}, #{id}, #{content}, (sysdate + (1/24)*9))
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(vcNum), 0) from vComment
	</select>

	<select id="commentList" parameterType="int" resultType="vComment">
		select vcNum, id, content, to_char(regdate, 'yyyy-mm-dd hh24:mi:ss') regdate,
		vNum from vComment where vNum = #{vNum} order by vcNum
	</select>
	
	<delete id="delete" parameterType="int">
		delete from vComment where vcNum = #{vcNum}
	</delete>
</mapper>