<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.VLanguageMapper">
	<select id="list" resultType="vLanguage">
		select * from vLanguage
	</select>

	<select id="select" parameterType="string" resultType="vLanguage">
		select * from vLanguage where id = #{id}
	</select>

	<insert id="insert" parameterType="vLanguage">
		insert into vLanguage values()
	</insert>
	<update id="update" parameterType="vLanguage">
		update vLanguage set #{pwd} where #{id}
	</update>
	<delete id="delete" parameterType="string">
		delete from vLanguage where id=#{id}
	</delete>
</mapper>