<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.VListMapper">
	<select id="list" resultType="vList">
		select * from vList
	</select>
	<select id="isApply" parameterType="vList" resultType="vList">
		select * from vList where id = #{id} and vNum = #{vNum}
	</select>
	<select id="getMaxNum" resultType="int">
		select NVL(max(vlNum), 0) from vList
	</select>
	<select id="getTotal" parameterType="int" resultType="int">
		select NVL(count(vlNum),0) from vList where vNum = #{vNum}
	</select>
	<insert id="insert" parameterType="vList">
		insert into vList values(#{vlNum},#{vNum},#{id},#{content})
	</insert>
	<delete id="delete" parameterType="vList">
		delete from vList where id=#{id} and vNum=#{vNum}
	</delete>
</mapper>