<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.VolunteerMapper">
	<insert id="insert" parameterType="volunteer">
		insert into volunteer values(#{vNum}, #{id}, #{content}, #{dDay}, #{title},
								 #{members}, sysdate, #{category}, #{place}, 0)
	</insert>
	<select id="getMaxNum" resultType="int">
		select NVL(max(vNum), 0) from volunteer
	</select>

	<select id="list" resultType="volunteer">
		select * from volunteer
	</select>
	<select id="getMembers" parameterType="int" resultType="int">
		select NVL(members,0) from volunteer where vnum = #{vnum,jdbcType=INTEGER} 	
	</select>
	<select id="select" parameterType="string" resultType="volunteer">
		select * from volunteer where id = #{id}
	</select>
	
	<select id="detail" parameterType="int" resultType="volunteer">
		select * from volunteer where vnum = #{vnum}
	</select>

	<update id="update" parameterType="volunteer">
		update volunteer set #{pwd} where #{id}
	</update>
	<update id="ended">
		update volunteer set title = 
		<![CDATA[ '마감' + title where dday < sysdate]]> 
	</update>
	<delete id="delete" parameterType="string">
		delete from volunteer where id=#{id}
	</delete>
</mapper>