<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.VPictureMapper">
	<select id="getMaxNum" resultType="int">
		select NVL(max(vNum), 0) from vPicture
	</select>
	<select id="list" resultType="vPicture">
		select * from vPicture
	</select>

	<select id="select" parameterType="string" resultType="vPicture">
		select * from vPicture where id = #{id}
	</select>
	
	<select id="detail" parameterType="string" resultType="vPicture">
		select * from vPicture where vpNum = #{vpNum}
	</select>
	
	<insert id="insert" parameterType="vPicture">
		insert into vPicture values(#{vpNum}, #{vNum}, #{saveName}, #{orgName}, #{fileSize}, sysdate, #{vpInfo})
	</insert>
	<update id="update" parameterType="vPicture">
		update vPicture set #{pwd} where vpNum = #{vpNum}
	</update>
	<delete id="delete" parameterType="string">
		delete from vPicture where vpNum = #{vpNum}
	</delete>
	
	<select id="thumbnail" resultType="vPicture" parameterType="int">
		select * from (
			select aa.*, rownum rnum from (
				select * from vPicture where vNum = #{vNum} order by vpNum
			)aa
		) where rnum = 1
	</select>
</mapper>