<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cherryfunding.spring.vo.VRecommendMapper">

	<select id="isRecomm" parameterType="vRecommend" resultType="vRecommend">
		select * from vRecommend where vNum=#{vNum} and id=#{id}
	</select>

	<insert id="insert" parameterType="vRecommend">
		insert into vRecommend values(#{vrNum}, #{vNum}, #{id})
	</insert>
	
	<select id="getMaxNum" resultType="int">
		select NVL(max(vrNum), 0) from vRecommend
	</select>
	
	<delete id="delete" parameterType="vRecommend">
		delete from vRecommend where vNum=#{vNum} and id=#{id}
	</delete>
</mapper>